.App {
  text-align: center;
}

.App-header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 10px gray;
  background: white;
  color: blue;
  font: 600 22px/26px serif;
}

.App-link {
  color: #61dafb;
}

.workspace-input {
  padding: 20px;
}

.workspace-body {
  display: flex;
  padding: 20px;
}

.materials {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightseagreen;
  border-radius: 4px;
  margin-right: 10px;
}

.materials-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  color: lightcoral;
  border-bottom: 1px solid lightseagreen;
}

.materials-item {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightseagreen;
}

.result {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-bottom: 4px;
}

.result-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-radius: 4px;
  color: white;
}

.green {
  background: lightseagreen;
}

.red {
  background: lightcoral;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
